{% extends 'master.html' %}
{% load static %}

{% block content %}
<div style="max-width: 90%;">
    <h1 class="text-center py-4 font-bold text-xl">Classroom</h1>
    {% include 'classroom/shared/navbar.html' %}
    <div class="rounded border background-gray-100 shadow p-4 mt-5">
        <form method="post" enctype="multipart/form-data">
            {{ form.message }}
            <div class="text-red-600">
                {{ form.message.errors.as_ul }}
            </div>
            <div class="mt-2">
                {{ form.file }}
            </div>
            <div class="flex mt-2">
                {% csrf_token %}
                <button type="submit" class="bg-indigo-600 p-2 rounded text-white ml-auto">
                    <ion-icon name="send-outline"></ion-icon>
                    Send Message
                </button>
            </div>
        </form>
    </div>
    
    {% if object_list %}
    {% for message in object_list %}
    <div class="border rounded shadow p-4 my-4">
        <div class="d-flex">
            <div class="ml-auto block">
                <div class="text-gray-600">
                    <span>
                        <ion-icon name="person-outline"></ion-icon>
                        {{ message.user.get_full_name }}
                    </span>
                    <span>
                        <ion-icon name="time-outline"></ion-icon>
                        {{ message.created_on }}
                    </span>
                    
                    {% if user.staff %}
                    <span class="ml-2">
                        {% if message.is_pinned %}
                        <a href="{% url 'classroom_message_pin' id=message.id %}" class="text-green-600">
                            <ion-icon name="bookmark-outline"></ion-icon>
                        </a>
                        {% else %}
                        <a href="{% url 'classroom_message_pin' id=message.id %}" class="text-indigo-600">
                            <ion-icon name="bookmark-outline"></ion-icon>
                        </a>
                        {% endif %}
                        <a href="{% url 'classroom_message_delete' id=message.id %}" class="text-red-600" onclick="return confirm('Do you want to delete this message?');">
                            <ion-icon name="trash"></ion-icon>
                        </a>
                    </span>
                    {% endif %}
                        
                </div>
            </div>
        </div>
        {% autoescape off %}
            <div class="border rounded p-4">
                {{ message.message }}
            </div>
        {% endautoescape %}
        
        {% if message.file %}
            <a href="{{ message.file.url }}" class="text-indigo-600" download>Download file</a>
        {% endif %}
            
    </div>
    {% endfor %}
        
        
    {% endif %}
        
</div>


<script src="{% static 'assets/js/ckeditor.js' %}"></script>
<script>
    document.querySelector('#id_message').removeAttribute('required');
    ClassicEditor
        .create(document.querySelector('#id_message'), {
            licenseKey: '',
        })
        .then(editor => {
            window.editor = editor;
        })
        .catch(error => {
            console.error('Oops, something went wrong!');
            console.error('Please, report the following error on https://github.com/ckeditor/ckeditor5/issues with the build id and the error stack trace:');
            console.warn('Build id: cplm8a4kitvx-o4bffjm7j3li');
            console.error(error);
        });
</script>
{% endblock content %}