<div class="grid grid-cols-3 rounded font-bold">
    <div
        class="bg-gray-100 flex justify-center py-2 border hover:bg-gray-200 transition rounded-tl-md rounded-bl-md">
        <a href="{% url 'classroom_home' id=classroom.id %}" class="text-center">
            <ion-icon name="chatbubbles-outline"></ion-icon>
            Messages
        </a>
    </div>
    <div class="bg-gray-100 flex justify-center py-2 border hover:bg-gray-200 transition">
        <a href="{% url 'classroom_students' id=classroom.id %}">
            <ion-icon name="school-outline"></ion-icon>
            Students
        </a>
    </div>
    <div
        class="bg-gray-100 flex justify-center py-2 border hover:bg-gray-200 transition rounded-tr-md rounded-br-md">
        <a href="{% url 'classroom_teachers' id=classroom.id %}">
            <ion-icon name="person-outline"></ion-icon>
            Teachers
        </a>
    </div>
</div>