{% extends 'master.html' %}

{% block content %}
<div class="flex">
    <a href="{% url 'course_create' %}" class="ml-auto bg-indigo-600 p-2 rounded text-white">
        + New Course
    </a>
</div>
<h1 class="font-bold text-2xl">Create New Course</h1>
<hr />
<div class="container mt-4">
    <!-- <table class="table border table-striped">
        <tr>
            <th>Course Name</th>
            <th>Department Name</th>
            <th>Level</th>
            <th>Duration</th>
            <th>Action</th>
        </tr>
        {% for i in object_list %}
        <tr>
            <td>{{ i.name }}</td>
            <td>{{ i.department.name }}</td>
            <td>{{ i.level }}</td>
            <td>{{ i.duration }}</td>
           
            <td>
                <a href="{% url 'course_edit' i.id %}" class="text-indigo-600">
                Edit
                </a>
                <div class=gap-3></div>
                <a href="{% url 'course_delete' i.id %}" class="text-indigo-600">
                    Delete
                    </a>
                    
            </td>
        </tr>
        {% endfor %}
    </table> -->

    <div class="grid grid-cols-4 gap-3">

        {% for i in object_list %}
        <div class="shadow-lg border rounded p-2 hover:shadow-xl transition">
            <h2 class="text-center font-semibold text-2xl">{{ i.name }}</h2>
            <div class="mt-2">
                <p>Department: {{ i.department.name }}</td>
                <p>Level: {{ i.level }}</td>
                <p>Duration: {{ i.semesters }} semesters</td>
            </div>
            <hr>
            <div class="mt-2 flex justify-center">
                <a href="{% url 'course_edit' i.id %}" class="text-indigo-600 p-1 px-2 mx-2 hover:bg-indigo-600 hover:text-white transition rounded">
                    Edit
                </a>
                <div class=gap-3></div>
                <a href="{% url 'course_delete' i.id %}" class="text-red-600 p-1 px-2 mx-2 hover:bg-red-600 hover:text-white transition rounded">
                    Delete
                </a>
            </div>
        </div>
        {% endfor %}

    </div>
</div>
{% endblock content %}