{% extends 'master_accounts.html' %}
{% load widget_tweaks %}

{% block content %}
<div class="flex flex-col overflow-y-auto md:flex-row">
    <div class="h-32 md:h-auto md:w-1/2">
        <img aria-hidden="true" class="object-cover w-full h-full dark:hidden" src="../assets/img/login-office.jpeg"
            alt="Office" />
        <img aria-hidden="true" class="hidden object-cover w-full h-full dark:block"
            src="../assets/img/login-office-dark.jpeg" alt="Office" />
    </div>
    <div class="flex items-center justify-center p-6 sm:p-12 md:w-1/2">
        <form class="w-full" method="POST">
            <h1 class="mb-4 text-xl font-semibold text-gray-700 dark:text-gray-200">
                Login
            </h1>
            <label class="block text-sm">
                {{ form.username.label }}
                {% render_field form.username class="form-input w-full" %}
                
                {% if form.username.errors %}
                    <div class="text-red-600">
                        {{ form.username.errors.as_ul }}
                    </div>
                {% endif %}
                    
            </label>
            <label class="block mt-4 text-sm">
                {{ form.password.label }}
                {% render_field form.password class="form-input w-full" %}
                {% if form.username.errors %}
                <div class="text-red-600">
                    {{ form.username.errors.as_ul }}
                </div>
                {% endif %}
            </label>

            {% csrf_token %}
            <!-- You should use a button here, as the anchor is only used for the example  -->
            <button type="submit" class="bg-indigo-600 p-2 w-full rounded text-white mt-2">
                Login
            </button>

            <hr class="my-8" />

            <p class="mt-4">
                <a class="text-sm font-medium text-purple-600 dark:text-purple-400 hover:underline"
                    href="./forgot-password.html">
                    Forgot your password?
                </a>
            </p>
            <!-- <p class="mt-1">
                <a class="text-sm font-medium text-purple-600 dark:text-purple-400 hover:underline"
                    href="./create-account.html">
                    Create account
                </a>
            </p> -->
        </form>
    </div>
</div>
{% endblock content %}