{% extends 'user_master.html' %}
{% load widget_tweaks %}
{% load static %}

{% block content %}
<section class="w-full">
    <div class="bg-gradient-to-b from-blue-800 to-blue-600 h-96" 
    style="background-image: url({% static 'assets/img/college-2.jpg' %}); background-size: contain;"></div>
    <div class="max-w-5xl mx-auto px-6 sm:px-6 lg:px-8 mb-12"></div>
    <div class="max-w-5xl mx-auto px-6 sm:px-6 lg:px-8 mb-12">
        <div class="bg-white w-full shadow rounded p-8 sm:p-12 -mt-72" style="background-color: rgba(255, 255, 255, 0.8); -webkit-backdrop-filter: blur(20px); backdrop-filter: blur(20px);">
            <p class="text-3xl font-bold leading-7 text-center mb-4">Noticeboard</p>
            
            {% if object_list %}
            <ul style="list-style-type: disc">
                {% for i in object_list %}
                    <li>
                        <a href="{% url 'noticeboard_detail' id=i.id %}" class="text-indigo-600">{{ i.title }}</a>
                    </li>
                {% endfor %}
            </ul>
            {% else %}
            <div class="px-2 py-4 bg-gray-100 font-2xl text-center rounded shadow">
                <p>The noticeboard is empty.</p>
            </div>
            {% endif %}
                
        </div>
    </div>
</section>
{% endblock content %}