{% extends 'master.html' %}

{% block content %}
<div class="flex">
    <a href="{% url 'department_create' %}" class="ml-auto bg-indigo-600 p-2 rounded text-white">
        + New Department
    </a>
</div>
<h1 class="font-bold text-2xl">Departments</h1>
<hr/>
    <div class="grid grid-cols-4 gap-3">

        {% for i in object_list %}
        <div class="shadow-lg border rounded p-2 hover:shadow-xl transition">
            <h2 class="text-center font-semibold text-2xl">{{ i.name }}</h2>
            <div class="mt-2">
                <p>Name: {{  i.name }}</p>
                <p>Phone: {{  i.phone }}</p>
                <p>Email: {{ i.email }}</p>
            </div>
            <hr>
            <div class="mt-2 flex justify-center">
                <a href="{% url 'department_edit' i.id %}" class="text-indigo-600 p-1 px-2 mx-2 hover:bg-indigo-600 hover:text-white transition rounded">
                    Edit
                </a>
                
        </div>
        {% endfor %}

    </div>
</div>
{% endblock content %}
    