{% extends 'master.html' %}

{% block content %}
<div class="flex">
    <a href="{% url 'department_create' %}" class="ml-auto bg-indigo-600 p-2 rounded text-white">
        + New Department
    </a>
</div>
<h1 class="font-bold text-2xl">Create New Department</h1>
<hr/>
<!-- <div class="container mt-4">
    <table class="table border table-striped">
        <tr>
            <th>Name</th>
            <th>Phone</th>
            <th>Email</th>
            <th>Action</th>
        </tr>
        {% for i in object_list %}
        <tr>
            <td>{{ i.name }}</td>
            <td>{{ i.phone }}</td>
            <td>{{ i.email }}</td>
            <td>
                <a href="{% url 'department_edit' i.id %}" class="text-indigo-600">
                    Edit
                </a>
            </td>
        </tr>
        {% endfor %}
    </table> -->
    <div class="grid grid-cols-4 gap-3">

        {% for i in object_list %}
        <div class="shadow-lg border rounded p-2 hover:shadow-xl transition">
            <h2 class="text-center font-semibold text-2xl">{{ i.name }}</h2>
            <div class="mt-2">
                <td>Name: {{  i.name }}</td>
                <td>Phone: {{  i.phone }}</td>
                <td>Email: {{ i.email }}</td>
                 
            </div>
            <hr>
            <div class="mt-2 flex justify-center">
                <a href="{% url 'department_edit' i.id %}" class="text-indigo-600 p-1 px-2 mx-2 hover:bg-indigo-600 hover:text-white transition rounded">
                    Edit
                </a>
                
        </div>
        {% endfor %}

    </div>
</div>
{% endblock content %}
    