{% load static tailwind_tags %}
<!DOCTYPE html>
<html :class="{ 'theme-dark': dark }" x-data="data()" lang="en">

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>Windmill Dashboard</title>
	<link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap"
		rel="stylesheet" />
	{% tailwind_css %}
	<!-- <link rel="stylesheet" href="./assets/css/tailwind.output.css" /> -->

	<!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.css" />
	<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js" defer></script>
	<script src="{% static '/assets/js/charts-lines.js' %}" defer></script>
	<script src="{% static '/assets/js/charts-pie.js' %}" defer></script> -->
</head>

<body>
	<div class="flex h-screen bg-gray-50 dark:bg-gray-900" :class="{ 'overflow-hidden': isSideMenuOpen }">
		{% include 'administrator/shared/left_sidebar_mobile.html' %}

		<div class="flex flex-col flex-1 w-full">
			{% include 'user/shared/navbar.html' %}
			<main class="h-full overflow-y-auto">
					{% block content %}

					{% endblock content %}
			</main>
		</div>

	</div>
	<script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.min.js" defer></script>
	<script src="{% static '/assets/js/init-alpine.js' %}"></script>
</body>

</html>