{% extends 'master.html' %}
{% load widget_tweaks %}

{% block content %}
<h1 class="font-bold text-2xl">Room</h1>
<hr/>
<div class="container mt-4">
    {{ form.errors }}
    <form method="post">
        <div class="grid grid-cols-2 gap-3">
            <div class="col-span-2">
                <label>{{ form.room_name.label }}</label>
                {% render_field form.room_name class="form-input w-full rounded" %}

                {% if form.room_name.errors %}
                <div class="text-red-600">
                    {{ form.room_name.errors.as_ul }}
                </div>
                {% endif %}
            </div>

            <div class="col-span-2">
                <label>{{ form.room_no.label }}</label>
                {% render_field form.room_no class="form-input w-full rounded" %}

                {% if form.room_no.errors %}
                <div class="text-red-600">
                    {{ form.room_no.errors.as_ul }}
                </div>
                {% endif %}
            </div>

            <div>
                <label>{{ form.capacity.label }}</label>
                {% render_field form.capacity class="form-input w-full rounded" %}

                {% if form.capacity.errors %}
                <div class="text-red-600">
                    {{ form.capacity.errors.as_ul }}
                </div>
                {% endif %}
            </div>

            <div>
                <label>{{ form.type.label }}</label>
                {% render_field form.type class="form-input w-full rounded" %}

                {% if form.type.errors %}
                <div class="text-red-600">
                    {{ form.type.errors.as_ul }}
                </div>
                {% endif %}
            </div>

            <div class="col-span-2">
                <label>{{ form.status.label }}</label>
                {% render_field form.status class="form-input w-full rounded" %}

                {% if form.status.errors %}
                <div class="text-red-600">
                    {{ form.status.errors.as_ul }}
                </div>
                {% endif %}
            </div>

            <div>
                <label>{{ form.floor.label }}</label>
                {% render_field form.floor class="form-input w-full rounded" %}

                {% if form.floor.errors %}
                <div class="text-red-600">
                    {{ form.floor.errors.as_ul }}
                </div>
                {% endif %}
            </div>

            <div>
                <label>{{ form.block.label }}</label>
                {% render_field form.block class="form-input w-full rounded" %}

                {% if form.block.errors %}
                <div class="text-red-600">
                    {{ form.block.errors.as_ul }}
                </div>
                {% endif %}
            </div>
        </div>
        {% csrf_token %}
        <div class="flex mt-2">
            <button class="ml-auto bg-indigo-600 p-2 rounded text-white">Save</button>
        </div>
    </form>
</div>
{% endblock content %}