{% extends 'master.html' %}

{% block content %}

{% if user.admin %}
<div class="flex">
    <a href="{% url 'room_create' %}" class="ml-auto bg-indigo-600 p-2 rounded text-white">
        + New Room
    </a>
</div>
{% endif %}
    
<h1 class="font-bold text-2xl">Create New Room</h1>
<hr />
<div class="grid grid-cols-4 gap-3">

    {% for i in object_list %}
    <div class="shadow-lg border rounded p-2 hover:shadow-xl transition">
        <h2 class="text-center font-semibold text-2xl">{{ i.name }}</h2>
        <div class="mt-2">
            <p>Room Name: {{ i.room_name }}</p>
            <p>Room No: {{ i.room_no }}</p>
            <p>Capacity: {{ i.capacity}}</p>
            <p>Type: {{ i.type}}</p>
            <p>Status: {{i.status}}</p>
            <p> Floor: {{  i.floor}}</p>
            <p> Block: {{i.block}}</p>

             
        </div>
        <hr>
        <div class="mt-2 flex justify-center">
            <a href="{% url 'room_edit' i.id %}" class="text-indigo-600 p-1 px-2 mx-2 hover:bg-indigo-600 hover:text-white transition rounded">
                Edit
            </a>
            <div class=gap-3></div>
            <a href="{% url 'room_delete' i.id %}" class="text-red-600 p-1 px-2 mx-2 hover:bg-red-600 hover:text-white transition rounded">
                Delete
            </a>
        </div>
    </div>
    {% endfor %}

</div>


{% endblock content %}