{% extends 'master.html' %}
{% load widget_tweaks %}
{% load static %}

{% block content %}
<h1 class="font-bold text-2xl">Notice</h1>
<hr />
<div class="container mt-4">
    <form method="post">
        <div class="grid grid-cols-2 gap-3">
            <div class="col-span-2">
                <label>{{ form.title.label }}</label>
                {% render_field form.title class="form-input w-full rounded" %}

                {% if form.title.errors %}
                <div class="text-red-600">
                    {{ form.title.errors.as_ul }}
                </div>
                {% endif %}
            </div>

            <div class="col-span-2">
                <label>{{ form.department.label }}</label>
                {% render_field form.department class="form-input w-full rounded" %}

                {% if form.department.errors %}
                <div class="text-red-600">
                    {{ form.department.errors.as_ul }}
                </div>
                {% endif %}
            </div>

            <div class="col-span-2">
                <label>{{ form.body.label }}</label>
                {% render_field form.body class="form-input w-full rounded" %}

                {% if form.body.errors %}
                <div class="text-red-600">
                    {{ form.body.errors.as_ul }}
                </div>
                {% endif %}
            </div>

        </div>
        {% csrf_token %}
        <div class="flex mt-2">
            <button type="submit" class="ml-auto bg-indigo-600 p-2 rounded text-white">Save</button>
        </div>
    </form>
</div>

<script src="{% static 'assets/js/ckeditor.js' %}"></script>
<script>
    document.querySelector('#id_body').removeAttribute('required');
    ClassicEditor
        .create(document.querySelector('#id_body'), {
            licenseKey: '',
        })
        .then(editor => {
            window.editor = editor;
        })
        .catch(error => {
            console.error('Oops, something went wrong!');
            console.error('Please, report the following error on https://github.com/ckeditor/ckeditor5/issues with the build id and the error stack trace:');
            console.warn('Build id: cplm8a4kitvx-o4bffjm7j3li');
            console.error(error);
        });
</script>
{% endblock content %}