{% extends 'master.html' %}

{% block content %}

{% if user.admin %}
<h1 class="text-3xl font-bold py-4">Dashboard</h1>
<div class="flex flex-wrap bg-pink-500 ">
    <div class="mt-4 w-full lg:w-6/12 xl:w-3/12 px-5 mb-4">
        <div class="relative flex flex-col min-w-0 break-words bg-white rounded mb-3 xl:mb-0 shadow-lg">
            <div class="flex-auto p-4">
                <div class="flex flex-wrap">
                    <div class="relative w-full pr-4 max-w-full flex-grow flex-1">
                        <h5 class="text-blueGray-400 uppercase font-bold text-xs">Students</h5>
                        <span class="font-semibold text-xl text-blueGray-700">{{ students_count }}</span>
                    </div>
                    <div class="relative w-auto pl-4 flex-initial">
                        <div
                            class="text-white p-3 text-center inline-flex items-center justify-center w-12 h-12 shadow-lg rounded-full  bg-red-500">
                            <i class="fas fa-chart-bar"></i>
                        </div>
                    </div>
                </div>
                <p class="text-sm text-blueGray-400 mt-4">
                    <a href="{% url 'student_list' %}" class="whitespace-nowrap">Manage</a>
                </p>
            </div>
        </div>
    </div>

    <div class=" mt-4 w-full lg:w-6/12 xl:w-3/12 px-5">
        <div class="relative flex flex-col min-w-0 break-words bg-white rounded mb-4 xl:mb-0 shadow-lg">
            <div class="flex-auto p-4">
                <div class="flex flex-wrap">
                    <div class="relative w-full pr-4 max-w-full flex-grow flex-1">
                        <h5 class="text-blueGray-400 uppercase font-bold text-xs">Departments</h5>
                        <span class="font-semibold text-xl text-blueGray-700">{{ departments_count }}</span>
                    </div>
                    <div class="relative w-auto pl-4 flex-initial">
                        <div
                            class="text-white p-3 text-center inline-flex items-center justify-center w-12 h-12 shadow-lg rounded-full  bg-pink-500">
                            <i class="fas fa-chart-pie"></i>
                        </div>
                    </div>
                </div>
                <p class="text-sm text-blueGray-400 mt-4">
                    <a class="whitespace-nowrap">
                        <a href="{% url 'department_list' %}" class="whitespace-nowrap">Manage</a>
                    </span>
                </p>
            </div>
        </div>
    </div>

    <div class="mt-4 w-full lg:w-6/12 xl:w-3/12 px-5">
        <div class="relative flex flex-col min-w-0 break-words bg-white rounded mb-6 xl:mb-0 shadow-lg">
            <div class="flex-auto p-4">
                <div class="flex flex-wrap">
                    <div class="relative w-full pr-4 max-w-full flex-grow flex-1">
                        <h5 class="text-blueGray-400 uppercase font-bold text-xs">Courses</h5>
                        <span class="font-semibold text-xl text-blueGray-700">{{ courses_count }}</span>
                    </div>
                    <div class="relative w-auto pl-4 flex-initial">
                        <div
                            class="text-white p-3 text-center inline-flex items-center justify-center w-12 h-12 shadow-lg rounded-full  bg-lightBlue-500">
                            <i class="fas fa-users"></i>
                        </div>
                    </div>
                </div>
                <p class="text-sm text-blueGray-400 mt-4">
                    <span class="whitespace-nowrap">
                        <a href="{% url 'course_list' %}">Manage</a>
                    </span>
                </p>
            </div>
        </div>
    </div>

    <div class="mt-4 w-full lg:w-6/12 xl:w-3/12 px-5">
        <div class="relative flex flex-col min-w-0 break-words bg-white rounded mb-6 xl:mb-0 shadow-lg">
            <div class="flex-auto p-4">
                <div class="flex flex-wrap">
                    <div class="relative w-full pr-4 max-w-full flex-grow flex-1">
                        <h5 class="text-blueGray-400 uppercase font-bold text-xs">Staff</h5>
                        <span class="font-semibold text-xl text-blueGray-700">{{ staff_count }}</span>
                    </div>
                    <div class="relative w-auto pl-4 flex-initial">
                        <div
                            class="text-white p-3 text-center inline-flex items-center justify-center w-12 h-12 shadow-lg rounded-full  bg-emerald-500">
                            <i class="fas fa-percent"></i>
                        </div>
                    </div>
                </div>
                <p class="text-sm text-blueGray-400 mt-4">
                    <a href="{% url 'staff_list' %}"  class="whitespace-nowrap"> Manage </a>
                </p>
            </div>
        </div>
    </div>
</div>

<div class="mt-10 w-full">
    <h2 class="font-bold text-2xl">Contact Requests</h2>
    
    {% if contact_requests %}
    <table class="w-full border">
        <tr class="border bg-gray-100">
            <th class="border p-2">Name</th>
            <th class="border p-2">Email</th>
            <th class="border p-2">Phone</th>
            <th class="border p-2">Message</th>
        </tr>
        {% for message in contact_requests %}
        <tr class="bg-white">
            <td class="border p-2">{{ message.name }}</td>
            <td class="border p-2">{{ message.email }}</td>
            <td class="border p-2">{{ message.phone }}</td>
            <td class="border p-2">{{ message.message }}</td>
        </tr>
        {% endfor %}
    </table>
    {% else %}
    <div class="p2 py-10 mt-2 text-center bg-gray-100 shadow rounded">
        <p class="text-red-600">No contact requests.</p>
    </div>
    {% endif %}
        
</div>
{% endif %}

{% endblock content %}