{% extends 'master.html' %}

{% block content %}
<div class="flex">
    <a href="{% url 'staff_create' %}" class="ml-auto bg-indigo-600 p-2 rounded text-white">
        + New Staff
    </a>
</div>
<h1 class="font-bold text-2xl">Staff List</h1>
<hr />
<div class="container mt-4">
    <div class="grid grid-cols-4 gap-3">

        {% for i in object_list %}
        <div class="shadow-lg border rounded p-2 hover:shadow-xl transition">
            <h2 class="text-center font-semibold text-2xl">{{ i.user.first_name }}</h2>
            <div class="mt-2">
                <p>Name: {{ i.user.get_full_name }}</td>
                <p>Email: {{ i.user.email }}</td>
                <p>Phone: {{ i.phone }}</td>
            </div>
            <hr>
            <div class="mt-2 flex justify-center">
                <a href="{% url 'staff_edit' i.user_id %}" class="text-indigo-600 p-1 px-2 mx-2 hover:bg-indigo-600 hover:text-white transition rounded">
                    Edit
                </a>
                <div class=gap-3></div>
                <a href="{% url 'staff_delete' i.user_id %}" class="text-red-600 p-1 px-2 mx-2 hover:bg-red-600 hover:text-white transition rounded">
                    Delete
                </a>
            </div>
        </div>
        {% endfor %}

    </div>
</div>
{% endblock content %}